<!-- Student name: Chiyu He (Finn) ;   Student ID: 1147535 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site(form).css')}}" /> 
    <title>update information</title>
</head>
<body>
    <h1>update information</h1>
    {% if memberdetails %}
      {{memberdetails}}<br/>
      {{memberdetails[0]}}<br/>
    {% endif %}
    
        <form action = "/statussituation2/update2" method = "POST"> 
  
        <label for = "memberid">Member ID*:</label>
        <input type = "text" id = "memberid" name = "memberid" {% if memberdetails %} value="{{memberdetails[1]}}"{% endif %}/> <br/>
        <label for = "firstname">first name:</label>
        <input type = "text" id = "firstname" name = "firstname" {% if memberdetails %} value="{{memberdetails[2]}}" {% endif %}/> <br/>
        <label for = "attendancestatus">Attendance Status:</label>
        <input name="attendancestatus" id="attendancestatus" list="attendancestatusoption" {% if memberdetails %} value="{{memberdetails[3]}}" {% endif %}/><br/>
            <datalist id="attendancestatusoption">
                <option value="Present"></option>
                <option value="Notified Absence"></option>
                <option value="Not Present"></option>				
            </datalist>
        <label for = "leftdate">Left Date:</label>
        <input type = "text" id = "leftdate" name = "leftdate" {% if memberdetails %} value="{{memberdetails[4]}}" {% endif %}/> <br/>
        <label for = "notes">Notes:</label>
        <input type = "text" id = "notes" name = "notes" {% if memberdetails %} value="{{memberdetails[5]}}" {% endif %}/> <br/>
        <input type = "submit"/>
        <input type = "reset"/>
    </form>
</body>
</html>
